// Global element styling
body
    margin: 0 auto
    max-width: 56em
    padding: 1em 0
    background-color: #191919

h3
    color: white

p 
    color: white    

// Pads and Octave styling
.control-label
    font-size: 1.5em
    color: WhiteSmoke        

.pad-grid
    display: flex
    flex-wrap: wrap

    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-template-rows: minmax(150px, auto)
    grid-gap: 1em
    
.pad
    display: flex
    align-items: center
    justify-content: center
    height: 200px
    border: solid red

.pad:active
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 255, 255, 0.6)

.octave-counter 
	text-align: center
	margin-top: 10px 
	& button, & p 
		display: inline-block

	& button 
		margin: 3px 3px
		width: 40px

.sidebar-element
    float: left




   
       
    
	
    

